@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.font {
  font-family: 'Bebas Neue', cursive;
}

.form_control {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.form-row {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 2rem;
  width: 400px;
  border-radius: 2rem;
}

